<!DOCTYPE html>
<html>
  <head>
    <%# TODO: add title helper %>
    <title>Theater Portal | BookMyShow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/admin/header' %>
    <%= render 'layouts/flash' %>
    <main class="container px-8 mx-auto mt-8 mb-48">
      <%= yield %>
    </main>
    <%#= debug(params) if Rails.env.development? %>
  </body>
</html>
