<%= form_with(model: admin_request, class: "contents") do |form| %>
  <h1 class="mt-5 text-xl underline">Contact Details</h1>

  <div class="my-5">
    <%= form.label :contact_email, "Email (we will contact you on this email)" %>
    <%= form.text_field :contact_email, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <% admin_request.errors.full_messages_for(:contact_email).each do |message| %>
      <div class="text-red-500"><%= message %></div>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :contact_no, "Contact no (Should only be 10 digit)" %>
    <%= form.number_field :contact_no, placeholder: "e.g. 9876543210", class: "remove-arrow block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <% admin_request.errors.full_messages_for(:contact_no).each do |message| %>
      <div class="text-red-500"><%= message %></div>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :admin_emails, "Emails (Add all the emails you want to associated with theaters by adding coma between each email)" %>
    <%= form.text_field :admin_emails, placeholder: "e.g. foo@bar.com, baz@bar.com, ...", class: "resize-none block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <% admin_request.errors.full_messages_for(:admin_emails).each do |message| %>
      <div class="text-red-500"><%= message %></div>
    <% end %>
  </div>

  <h1 class="mt-10 text-xl underline">Theater Details</h1>

  <div class="my-5">
    <%= form.label :theater_name , "Theater name (with Area name)" %>
    <%= form.text_field :theater_name, placeholder: "e.g. PVR Acropolis - Thaltej", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <% admin_request.errors.full_messages_for(:theater_name).each do |message| %>
      <div class="text-red-500"><%= message %></div>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :theater_address %>
    <%= form.text_area :theater_address, rows: 4, class: "resize-none block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <% admin_request.errors.full_messages_for(:theater_address).each do |message| %>
      <div class="text-red-500"><%= message %></div>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :pincode, "Theater Area Pincode (must be 6 digits)" %>
    <%= form.number_field :pincode, placeholder: "e.g. 382418" , class: "remove-arrow block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <% admin_request.errors.full_messages_for(:pincode).each do |message| %>
      <div class="text-red-500"><%= message %></div>
    <% end %>
  </div>

  <h1 class="mt-10 text-xl underline">Documents to be uploaded for verification (.pdf, .doc, .docx) in less than 5Mb size</h1>

  <div class="flex gap-x-10">
    <div class="mt-5">
      <%= form.label :business_license, "Business license" %>
      <%= form.hidden_field :business_license, value: form.object.business_license.signed_id if form.object.business_license.attached? %>
      
      <%# TODO: file/image preview hotwired %>
      <%= form.file_field :business_license, direct_upload: true, accept: 'application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document', class: "block cursor-pointer shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      <% admin_request.errors.full_messages_for(:business_license).each do |message| %>
        <div class="text-red-500"><%= message %></div>
      <% end %>
    </div>

    <div class="mt-5">
      <%= form.label :ownership_proof, "Theater Ownership Proof / Lease Agreement" %>
      <%= form.hidden_field :ownership_proof, value: form.object.ownership_proof.signed_id if form.object.ownership_proof.attached? %>
      <%= form.file_field :ownership_proof, direct_upload: true, accept: 'application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document', class: "block cursor-pointer shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      <% admin_request.errors.full_messages_for(:ownership_proof).each do |message| %>
        <div class="text-red-500"><%= message %></div>
      <% end %>
    </div>
  </div>

  <div class="flex gap-x-10">
    <div class="my-5">
      <%= form.label :noc, "No Objection Certificate (NOC)" %>
      <%= form.hidden_field :noc, value: form.object.noc.signed_id if form.object.noc.attached? %>
      <%= form.file_field :noc, direct_upload: true, accept: 'application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document', class: "block cursor-pointer shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      <% admin_request.errors.full_messages_for(:noc).each do |message| %>
        <div class="text-red-500"><%= message %></div>
      <% end %>
    </div>

    <div class="my-5">
      <%= form.label :insurance, "Insurance Document" %>
      <%= form.hidden_field :insurance, value: form.object.insurance.signed_id if form.object.insurance.attached? %>
      <%= form.file_field :insurance, direct_upload: true, accept: 'application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document', class: "block cursor-pointer shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      <% admin_request.errors.full_messages_for(:insurance).each do |message| %>
        <div class="text-red-500"><%= message %></div>
      <% end %>
    </div>
  </div>

  <div class="inline">
    <%= form.submit "Submit request", data: { turbo_submits_with: "Submitting..." }, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
